name: Reusable workflow example

on:
  workflow_call:
    inputs:
      some-value:
        required: true
        type: string

jobs:
  scan-iac-repo:
    runs-on: ubuntu-latest
    steps:
    - name: clone repo
      uses: actions/checkout@master
    - name: run tfsec
      if: ${{ inputs.some-value == 'prod' }}
      uses: aquasecurity/tfsec-action@v1.0.0
    - name: run command
      if: ${{ inputs.some-value != 'prod' }}
      run: |
       echo "this is else command"
#     run: |
#     echo "Hello, world! ${{ inputs.some-value }}"
#       if [ ${{ inputs.some-value }} == "prod" ]
#      then 
#         echo "this is prod call"
#      else
#         echo "this is non prod call"
#      fi
#      env:
#       repo-token: ${{ secrets.GITHUB_TOKEN }}
#       configuration-path: ${{ inputs.some-value }}
