name: Reusable workflow example

on:
  workflow_call:
    inputs:
      some-value:
        required: true
        type: string

jobs:
  scan-iac-repo:
    runs-on: ubuntu-latest
    steps:
    - name: Extract branch name
      shell: bash
      run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
      id: extract_branch
    - name: print branch name
      run: |
       echo "this is branch name- ${{ steps.extract_branch.outputs.branch }}"
    - name: clone repo
      uses: actions/checkout@master
    - name: run tfsec
      #if: ${{ inputs.some-value == 'prod' }}
      if: ${{ steps.extract_branch.outputs.branch == 'prod' || steps.extract_branch.outputs.branch == 'main' || steps.extract_branch.outputs.branch == 'master'}}
      uses: aquasecurity/tfsec-action@v1.0.0
    - name: run command
      #if: ${{ inputs.some-value != 'prod' }}
      if: ${{ steps.extract_branch.outputs.branch != 'prod' || steps.extract_branch.outputs.branch != 'main' || steps.extract_branch.outputs.branch != 'master'}}
      run: |
       echo "this is else command"
#     run: |
#     echo "Hello, world! ${{ inputs.some-value }}"
#       if [ ${{ inputs.some-value }} == "prod" ]
#      then 
#         echo "this is prod call"
#      else
#         echo "this is non prod call"
#      fi
#      env:
#       repo-token: ${{ secrets.GITHUB_TOKEN }}
#       configuration-path: ${{ inputs.some-value }}
