name: Reusable workflow example

on:
  workflow_call:
    inputs:
      some-value:
        required: true
        type: string

jobs:
  scan-iac-repo:
    runs-on: ubuntu-latest
    steps:
    - name: Run prod command
      run: echo Hello, world! $configuration-path 
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        configuration-path: ${{ inputs.some-value }}
